.picture-item { margin-top: 24px;}

.badge{text-transform: uppercase;}

figure{margin:0em 0px!important}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f2f4f5;
  }


  main {
    flex: 1 0 auto;
  }

.btn{background-color: #2196F3 !important; margin: 1em;}
.btn:hover{background-color: #1565C0 !important}
.btn:active{background-color: #1565C0 !important}
.active{background-color: #1565C0 !important}
.btn:focus{background-color: #1565C0 !important}

.badge{opacity: 0.8;
  background-color: #c0cad2;
  color: white !important;
  margin-bottom: 5px;
  font-size: 0.8rem !important ;
  margin-left: 4px !important;
}


@media only screen and (max-width: 600px) {
  .card.small {
    height: 250px !important;
  }
  }

  .cartao{margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);}


    .tag{opacity: 0.8;
      background-color: #90caf9;
      color: white !important;
      margin-bottom: 5px;
      font-size: 0.8rem !important ;
      text-transform: uppercase;
      padding: 0 6px;
      margin-left: 14px;
      text-align: center;
      line-height: 22px;
      height: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
    }

.smallfix {
	
	padding-top:24px;
	padding-right:24px;
	padding-bottom:24px;
	padding-left:24px;
	position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);

}

.card-action{;}
.card-title{font-size: 24px;  font-weight: 900;}
 a:hover{color: #1565C0 !important; text-decoration: none;}

  .firstfilter {margin-left: 0px;}

  .btn{border-radius:3px !important;}

  .btn-group .btn:first-child { border-radius: 0px 0 0 0px;  }